body{
    margin:0;
    overflow:hidden;
    background:black;
}

canvas{
    display:block;
    width:100vw;
    height:100vh;
    max-width:800px;
    max-height:600px;
    margin:auto;
}
#gameContainer{
    position: relative;
    width: 800px;
    margin: auto;
}

#leftBtn,
#rightBtn{
    position: absolute;
    bottom: 20px;

    width: 85px;
    height: 85px;

    border: none;
    border-radius: 50%;

    font-size: 40px;
    font-weight: bold;

    background: rgba(255,255,255,0.25);
    color: white;

    backdrop-filter: blur(5px);

    cursor: pointer;
    user-select: none;
}

#leftBtn{
    left: 20px;
}

#rightBtn{
    right: 20px;
}

#leftBtn:active,
#rightBtn:active{
    background: rgba(255,255,255,0.45);
}